<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<title th:title="#{pageTitle}">sideNav</title>
		
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" href="../../css/sideNav.css" th:href="@{/css/sideNav.css}" />
	</head>
	

	<body>
		<div class="L-sideNav" th:fragment="leftDiv">
			<div class="L-sideNavLogo">
				<p>
					OHMYCAT
				</p>
			</div>
			<div class="L-sideNavList">
				<ul class="M-option">
					<li>
						<a href="#"><img src="../../image/down.png" th:src="@{/image/down.png}" class="listIcon active">喵动态</a>
						<ul class="S-option">
							<li><a href="#" th:href="@{/action/followed}">关注喵</a></li>
							<li><a href="#" th:href="@{/action/hotted}">热门喵</a></li>
						</ul>
					</li>
					<li>
						<a href="#" th:href="@{/catClass}"><img src="../../image/down.png" th:src="@{/image/down.png}" class="listIcon active">喵学堂</a>
					</li>
					<li>
						<a href="#"><img src="../../image/down.png" th:src="@{/image/down.png}" class="listIcon active">个人中心</a>
						<ul class="S-option">
							<li><a href="#" th:href="@{/user/index}">个人主页</a></li>
							<li><a href="#" th:href="@{/user/setting}">信息设置</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="T-info"  th:fragment="topDiv">
			<a href="#" th:href="@{/logout}" title="退出登录"></a>
			<input type="text" placeholder="搜索" id="search"/>
		</div>
	</body>

	<script type="text/javascript" src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" src="../../js/sideNav.js" th:src="@{/js/sideNav.js}"></script>

</html>
