<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="@{pageTitle}">喵关注</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../../css/sideNav.css" th:href="@{/css/sideNav.css}" />
	<link rel="stylesheet" type="text/css" href="../../css/action.css" th:href="@{/css/action.css}" />
</head>
<body>
	<div th:replace ="sideNav :: leftDiv"></div>
	<div th:replace ="sideNav :: topDiv"></div>
	<div class="main">
		
	</div>
	
</body>
<script type="text/javascript" src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="../../js/sideNav.js" th:src="@{/js/sideNav.js}"></script>
</html>