<!DOCTYPE html>
<html>
<head>
	<title th:text="@{pageTitle}">信息设置</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" href="../../css/sideNav.css" th:href="@{/css/sideNav.css}" />
	<link rel="stylesheet" type="text/css" href="../../css/userInfo.css" th:href="@{/css/userInfo.css}" />
</head>
<body>
	<div class="L-sideNav" th:fragment="leftDiv">
			<div class="L-sideNavLogo">
				<p>
					OHMYCAT
				</p>
			</div>
			<div class="L-sideNavList">
				<ul class="M-option">
					<li>
						<a href="#"><img src="../../image/down.png" th:src="@{/image/down.png}" class="listIcon M-active">喵动态</a>
						<ul class="S-option">
							<li><a href="#" th:href="@{/action/followed}">关注喵</a></li>
							<li><a href="#" th:href="@{/action/hotted}">热门喵</a></li>
						</ul>
					</li>
					<li>
						<a href="#" th:href="@{/catClass}"><img src="../../image/down.png" th:src="@{/image/down.png}" class="listIcon M-active">喵学堂</a>
					</li>
					<li>
						<a href="#"><img src="../../image/down.png" th:src="@{/image/down.png}" class="listIcon M-active">个人中心</a>
						<ul class="S-option">
							<li><a href="#" th:href="@{/user/index}">个人主页</a></li>
							<li><a href="#" th:href="@{/user/setting}">信息设置</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="T-info"  th:fragment="topDiv">
			<a href="#" th:href="@{/logout}" title="退出登录"></a>
			<input type="text" placeholder="搜索" id="search"/>
		</div>

	<div class="main">

		<div class="info-container">
			<h3>信息设置</h3>
			<ul class="nav nav-tabs">
				<li role="presentation" id="personal-msg" class="active"><a href="#">个人资料</a></li>
				<li role="presentation" id="set-password"><a href="#">密码设置</a></li>
			</ul>
			<form class="info-form personal-info" method="post" action="./">
				<div class="info-image">
					<div class="info-title">个人头像：</div>
					<div class="info-input">
						<img id="info-image" class="img-circle" src="../../image/info-image.jpg" th:src="@{/image/info-image.jpg}">
						<div class="reset-image-button">
							<input id="reset-image" type="file"></input>更改头像</div>
					</div>
				</div>
				<div class="info-email">
					<div class="info-title">个人邮箱：</div>
					<div class="info-input">
						<input id="info-email" type="email" value="1234567@qq.com"></input>
						<span class="emailError">输入的邮箱格式不正确</span>
					</div>
				</div>
				<div class="info-assign">
					<div class="info-title">个性签名：</div>
					<div class="info-input">
						<textarea id="info-assign" maxlength="80">我想养猫咪！！</textarea>
					</div>
				</div>
				<div class="personal-info-submit">
					<input id="personal-info-submit" type="submit" value="确认修改资料"></input>
				</div>
			</form>
			<form class="info-form reset-password" method="post" action="./">
				<div class="info-password old-password">
					<div class="password-title">当前密码</div>
					<div class="info-input">
						<input id="old-password" type="password" placeholder="输入当前密码" required="required"></input>
						<span class="currentPasswordError">当前密码输入不正确</span>
					</div>
				</div>
				<div class="info-password new-password">
					<div class="password-title">新密码</div>
					<div class="info-input">
						<input id="password" type="password" placeholder="输入新密码" required="required"></input>
					</div>
				</div>
				<div class="info-password check-password">
					<div class="password-title">确认密码</div>
					<div class="info-input">
						<input id="password_" type="password" placeholder="重新输入密码" required="required"></input>
						<span class="resetPasswordError">两次输入的密码不一致</span>
					</div>
				</div>
				<div class="reset-password-submit">
					<input id="reset-password-submit" type="submit" value="确认修改密码"></input>
				</div>
			</form>
		</div>

	</div>
	<script type="text/javascript" src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" src="../../js/sideNav.js" th:src="@{/js/sideNav.js}"></script>
	<script type="text/javascript" src="../../js/userInfo.js" th:src="@{/js/userInfo.js}"></script>
</body>
</html>