<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="@{pageTitle}">喵动态</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../../css/sideNav.css" th:href="@{/css/sideNav.css}" />
	<link rel="stylesheet" type="text/css" href="../../css/action.css" th:href="@{/css/action.css}"/>
	<link rel="stylesheet" type="text/css" href="../../css/nav.css" th:href="@{/css/nav.css}" />
</head>
<body>
	<div th:replace ="sideNav :: leftDiv"></div>
	<div th:replace ="sideNav :: topDiv"></div>
	<div class="main">
		<div class="nav">
			<div class="index nav_select"><a href="#" th:href="@{/user/indexAction}">喵动态</a></div>
			<div class="index nav_no_select"><a href="#" th:href="@{/user/indexClass}">喵学堂</a></div>
			<div class="white"></div>
		</div>
		<div class="actionBody">
			<div class="first line">
				<div class="article" th:each="first:${articleFirst}">
					<img src="../../image/background.jpg" th:src="@{first.getFirstImage()}" class="articleImage" />
					<p th:text="@{first.articleContent}" class="articleContent">
						喵喵喵~
					</p>
					<div class="articleInfo">
						<img src="../../image/background.jpg" th:src="@{first.userImage}" class="userIcon"/>
						<p th:text="@{first.userName}">win7</p>
						<p class="Like" th:text="@{first.likeNumber}">123</p>
						<button class="articleLike"></button>

					</div>
				</div>
				<div class="article">
					<img src="../../image/background.jpg" th:src="@{/image/background.jpg}" class="articleImage" />
					<p th:text="@{articleContent}" class="articleContent">
						我是win7~我家养了一只猫，最爱抓蟑螂，不喜欢吃老鼠。而且喜欢在床上滚来滚去的~猫毛经常粘在被子上~喵喵喵~
					</p>
					<div class="articleInfo">
						<img src="../../image/background.jpg" th:src="@{/image/background.jpg}" class="userIcon"/>
						<p th:text="@{userName}">win7</p>
						<p class="Like">100</p>
						<button class="articleLike"></button>

					</div>
				</div>
			</div>
			<div class="second line">
				<div class="article" th:each="second:${articleSecond}">
					<img src="../../image/background.jpg" th:src="@{second.getsecondImage()}" class="articleImage" />
					<p th:text="@{second.articleContent}" class="articleContent">
						我是win7~我家养了一只猫，最爱抓蟑螂，不喜欢吃老鼠。而且喜欢在床上滚来滚去的~猫毛经常粘在被子上~喵喵喵~我是win7~我家养了一只猫，最爱抓蟑螂，不喜欢吃老鼠。而且喜欢在床上滚来滚去的~猫毛经常粘在被子上~喵喵喵~
					</p>
					<div class="articleInfo">
						<img src="../../image/background.jpg" th:src="@{second.userImage}" class="userIcon"/>
						<p th:text="@{second.userName}">win7</p>
						<p class="Like" th:text="@{second.likeNumber}">123</p>
						<button class="articleLike"></button>

					</div>
				</div>
				<div class="article">
					<img src="../../image/background.jpg" th:src="@{/image/background.jpg}" class="articleImage" />
					<p th:text="@{articleContent}" class="articleContent">
						我是win7~我家养了一只猫，最爱抓蟑螂，不喜欢吃老鼠。而且喜欢在床上滚来滚去的~猫毛经常粘在被子上~喵喵喵~
					</p>
					<div class="articleInfo">
						<img src="../../image/background.jpg" th:src="@{/image/background.jpg}" class="userIcon"/>
						<p th:text="@{userName}">win7</p>
						<p class="Like">123</p>
						<button class="articleLike"></button>

					</div>
				</div>
			</div>
			<div class="third line">
				<div class="article" th:each="third:${articleThird}">
					<img src="../../image/background.jpg" th:src="@{third.getthirdImage()}" class="articleImage" />
					<p th:text="@{third.articleContent}" class="articleContent">
						我是win7~我家养了一只猫，最爱抓蟑螂，不喜欢吃老鼠。而且喜欢在床上滚来滚去的~猫毛经常粘在被子上~喵喵喵~我是win7~我家养了一只猫，最爱抓蟑螂，不喜欢吃老鼠。而且喜欢在床上滚来滚去的~猫毛经常粘在被子上~喵喵喵~
					</p>
					<div class="articleInfo">
						<img src="../../image/background.jpg" th:src="@{third.userImage}" class="userIcon"/>
						<p th:text="@{third.userName}">win7</p>
						<p class="Like" th:text="@{third.likeNumber}">123</p>
						<button class="articleLike"></button>

					</div>
				</div>
				<div class="article">
					<img src="../../image/background.jpg" th:src="@{/image/background.jpg}" class="articleImage" />
					<p th:text="@{articleContent}" class="articleContent">
						我是win7~我家养了一只猫，最爱抓蟑螂，不喜欢吃老鼠。而且喜欢在床上滚来滚去的~猫毛经常粘在被子上~喵喵喵~
					</p>
					<div class="articleInfo">
						<img src="../../image/background.jpg" th:src="@{/image/background.jpg}" class="userIcon"/>
						<p th:text="@{userName}">win7</p>
						<p class="Like">123</p>
						<button class="articleLike"></button>

					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
<script type="text/javascript" src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="../../js/sideNav.js" th:src="@{/js/sideNav.js}"></script>
</html>