<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../../css/app.css" th:href="@{/css/app.css}">
	<title>欢迎来到喵世界！</title>
</head>
<body>
	<div class="container-fluid prepare-page">
		<div class="container">
			<h1>OHMYCAT</h1>
			<a href="/login" th:href="@{/login}"><div class="select-page login-button">登 录</div></a>
			<a href="/register" th:href="@{/register}"><div class="select-page register-button">注 册</div></a>
		</div>
	</div>
	<script type="text/javascript" src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="../../js/jquery.cookie.js" th:src="@{/js/jquery.cookie.js}"></script>
	<script type="text/javascript" src="../../js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>